<!DOCTYPE html>
<html lang="es">
<head>
    <title>Información del Producto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion-producto.css') }}">
</head>
<body>
    <div class="container">
        <h1>Información del Producto</h1>
        <div>
            <p><strong>Tipo:</strong> {{ data.tipo }}</p>
            <p><strong>Productos:</strong> {{ ', '.join(data.productos) }}</p>
            <p><strong>Región:</strong> {{ data.region }}</p>
            <p><strong>Comuna:</strong> {{ data.comuna }}</p>
            <p><strong>Descripción:</strong> {{ data.descripcion }}</p>
            <p><strong>Nombre del Productor:</strong> {{ data.nombre }}</p>
            <p><strong>Email del Productor:</strong> {{ data.email }}</p>
            <p><strong>Teléfono del Productor:</strong> {{ data.telefono }}</p>
            <div class="fotos">
                <p><strong>Fotos:</strong></p>
                {% for photo in data.photos %}
                <img src="{{ photo }}" alt="Imagen" width="640" height="480" class="producto-imagen">
                {% endfor %}
            </div>
        </div>
        <div class="botones"> 
            <a href="{{ url_for('index') }}" class="link_button1">Volver al inicio</a>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/informacion-producto.js') }}"></script>
</body>
</html>