<!DOCTYPE html>
<html lang="es">
<head>
    <title>Stats</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats.css') }}">
</head>
<body>
    <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="productos-container"></div>
            <p class="highcharts-description">
                Gráfico de barras que muestra la cantidad de productos por tipo.
            </p>
        </figure>

        <figure class="highcharts-figure">
            <div id="pedidos-container"></div>
            <p class="highcharts-description">
                Gráfico de barras que muestra la cantidad de pedidos por comuna.
            </p>
        </figure>

        <div class="botones">
            <a href="{{ url_for('index') }}" class="link_button">Volver al inicio</a>
        </div>
    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static', filename='js/stats.js')}}"></script>
</body>
</html>