:root {
  --color-borde: #dbdbdb;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../svg/Background2.jpg');
  background-size: cover;
}
  
.container {
  max-width: 800px;
  margin: 2% auto;
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
}
  
p {
  font-size: 16px;
  margin-bottom: 5px;
}
  
.botones {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
  
.link_button1 {
  background-color: #3A68A1;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}
  
.link_button1:hover {
  background-color: #4479BA;
  text-decoration: underline;
}